
$bar-width: 60px;
$bar-height: 8px;
$hamburger-gap: 6px;
$foreground: #333;
$background: white;
$hamburger-margin: 8px;
$animation-timing: 200ms ease-in-out;
$hamburger-height: calc(#{$bar-height} * 3 + #{$hamburger-gap} * 2);


  .hamburger {
    $x-width: calc(var($hamburger-height) * 1.41421356237);
  
    display: flex;
    flex-direction: column;
    gap: var($hamburger-gap);
    width: max-content;
    position: absolute;
    top: var($hamburger-margin);
    left: var($hamburger-margin);
    z-index: 2;
    cursor: pointer;
  
    &.has-checked {
      $foreground: white;
      $background: #333;
    }
  
    &:has(.input:focus-visible)::before,
    &:has(.input:focus-visible)::after,
    .input:focus-visible {
      border: 1px solid var($background);
      box-shadow: 0 0 0 1px var($foreground);
    }
  
    &::before,
    &::after,
    .input {
      content: "";
      width: var($bar-width);
      height: var($bar-height);
      background-color: var($foreground);
      border-radius: 9999px;
      transform-origin: left center;
      transition: opacity var($animation-timing), width var($animation-timing),
        rotate var($animation-timing), translate var($animation-timing),
        background-color var($animation-timing);
    }
  
    .input {
      appearance: none;
      padding: 0;
      margin: 0;
      outline: none;
      pointer-events: none;
    }
  
    &.has-checked::before {
      transform: rotate(45deg);
      width: var($x-width);
      transform-origin: center;
      translate: 0 calc(var($bar-height) / -2);
    }
  
    &.has-checked::after {
      transform: rotate(-45deg);
      width: var($x-width);
      transform-origin: center;
      translate: 0 calc(var($bar-height) / 2);
    }
  
    .input:checked {
      opacity: 0;
      width: 0;
    }
  }
  
  .sidebar {
    transition: translate var($animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var($hamburger-height) + var($hamburger-margin) + 1rem);
    background-color: var($foreground);
    color: var($background);
    max-width: 10rem;
    min-height: 100vh;
  }
  
  .hamburger.has-checked + .sidebar {
    translate: 0;
  }
  