// Define variables
$bar-width: 60px;
$bar-height: 8px;
$hamburger-gap: 6px;
$foreground: #333;
$background: white;
$hamburger-margin: 8px;
$animation-timing: 200ms ease-in-out;
$hamburger-height: calc(#{$bar-height} * 3 + #{$hamburger-gap} * 2);

// Define styles for the hamburger menu
.hamburger-menu {
  --x-width: calc(#{$hamburger-height} * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: $hamburger-gap;
  width: max-content;
  position: absolute;
  top: $hamburger-margin;
  left: $hamburger-margin;
  z-index: 2;
  cursor: pointer;

  &:has(input:checked) {
    --foreground: white;
    --background: #333;
  }

  &:has(input:focus-visible)::before,
  &:has(input:focus-visible)::after,
  input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  &::before,
  &::after,
  input {
    content: "";
    width: $bar-width;
    height: $bar-height;
    background-color: $foreground;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity $animation-timing, width $animation-timing,
      rotate $animation-timing, translate $animation-timing,
      background-color $animation-timing;
  }

  input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  &:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(#{$bar-height} / -2);
  }

  &:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(#{$bar-height} / 2);
  }

  input:checked {
    opacity: 0;
    width: 0;
  }
}

// Define styles for the sidebar
.sidebar {
  transition: translate $animation-timing;
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(#{$hamburger-height} + #{$hamburger-margin} + 1rem);
  background-color: $foreground;
  color: $background;
  max-width: 10rem;
  min-height: 100vh;

  .nav {
    display: flex;
    flex-direction: column;

    div {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

// Define media query for small screens
@media only screen and (max-width: 768px) {
  .sidebar {
    max-width: 100%;
    translate: -110%;
    padding-top: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .nav {
      div {
        margin: 1.5rem 0;
        font-size: 2rem;
      }
    }
  }

  .hamburger-menu {
    top: 1rem;
    left: 1rem;
  }
}
