@import "../Base/mixins.module";
@import "../Base/variable.module";

.about {
  height: 100%;
  width: 100%;
  padding: 10% 20%;

   overflow: visible;
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    padding-bottom: 2em;
    padding-right: 1em;

    &__count {
      @include codestyle;
      font-size: clamp(2.2rem, 1.6vw, 6rem);
      font-weight: 600;
      line-height: clamp(3.3rem, 1.8vw, 6.6rem);

      color: $color-secondary-light;
    }
    &__name {
      white-space: nowrap;
      @include secondaryheading;
    }
    &__line {
      padding-left: 1em;
      width: 70%;
     
    }

    @media (max-width: 770px) {
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: flex-start;
    justify-content: flex-start;
    // border: 1px solid white;
    width: 100%;

    &__detail {
      width: 70%;
      //   padding: 3em 0;
    //   border: 1px solid red;
      @include para;

      .p {
        padding-bottom: 1em;
        padding-right: 1em;
      }

      .cols {
        display: flex;
        flex-direction: row;

        &__1,
        &__2 {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-items: start;
          .arrow {
            margin: 0 1rem;
          }
        }

        &__1 {
          width: 45%;
        }

        &__2 {
          width: 55%;
        }
      }
    }
    // &__photo {
    //   position: relative;
      
    //   width: 30%;
    //   overflow: visible;
      
     
    //   .container{
    //     position: relative;

       
    //     .tint::before {
    //       content: "";
    //       display: block;
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       z-index: 50;
    //       width: 100%;
    //       height: 100%;
    //       background-color: rgba(8, 99, 76, 0.5);
    //      transition: background-color 0.5s ease-in-out; 
    //     }
        
    //     .tint:hover::before {
    //       background-color: transparent; /* change to transparent on hover */
    //     }
    //     .img {
    //       position: relative;
         
    //       border-radius: 0.4rem;
    //       transform: translate(0 , 0);
    //       filter: rgba($color-secondary-light, 0.5);
    //       z-index: 100;
  
    //       &:hover{
    //           transform: translate(-1% , -1%);
    //       }
    //     }
       
        
    //   }

    //   .img , .imgdiv{
       
    //     height:100%;
    //     width: 100%;
       
    //   }
    //   .imgdiv {
    //     position: absolute;
    //     top:5%;
    //     left:5%;
        
    //     z-index: 1;
    //     border-radius: 0.6rem;
    //     border: 0.2rem solid $color-secondary-light;

    //     transform: translate(1% , 1%);
    //     transition: transform 0.3s ease-in-out; 
    //   }
     
    //   &:hover .imgdiv {
    //     transform: translate(2% , 2%);
    //   }
    // }
   
    &__photo {
      position: relative;
      z-index: -10;

      width: 30%;
      overflow: visible;
      
      .container {
        position: relative;
      }
    
      .img {
        position: relative;
        border-radius: 0.4rem;
        transform: translate(0, 0);
        filter: rgba($color-secondary-light, 0.5);
        z-index: 100;
    
        &:hover {
          transform: translate(-1%, -1%);
        }
      }
    
      .img,
      .imgdiv {
        height: 100%;
        width: 100%;
      }
    
      .imgdiv {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 1;
        border-radius: 0.6rem;
        overflow-y: hidden;
        border: 0.2rem solid $color-secondary-light;
        transform: translate(1%, 1%);
        transition: transform 0.3s ease-in-out;
      }
    
      .tint::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101; /* increase z-index to show above .img */
        width: 100%;

        height: 98%;
        border-radius: .4rem;
        background-color: rgba(8, 99, 76, 0.5);
        transition: background-color 0.5s ease-in-out;
      }
    
      .tint:hover::before {
        background-color: transparent;
      }
    
      &:hover .imgdiv {
        transform: translate(2%, 2%);
      }
    }
    
    
  

    @media (max-width: 770px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        &__detail {
          width: 100%;
        }
        &__photo {
          margin-top: 10%;
          width: 50%;
        }
      }
  }

 

  @include respond(tab-land) {
    padding: 5% 10%;
  }

  @include respond(tab-port) {
    padding: 3rem;
  }
}
