@import '../Base/variable.module';
@import '../Base/mixins.module';

.contactpage{
    height:80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


.contact{
    width: 100%;
    padding: 20% 10%;
    @include absCenter;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__sup{
@include subHeading;
    margin: 1em 0;
    }
    &__heading{
        @include heading1;
    }
    &__sub{
        // border: 1px solid white;
        width:45%;
        // text-align: center !important;
        @include para;
        margin: 2em 0;

        @media (max-width: 800px){
            width:100%;
        }
    }
    &__btn{
        @include button;
        padding: 1.6em;
        margin: 1em 0;
    
        &:hover, :active , :focus{
          background-color:rgba($color-secondary,.1);
        }
    }
}

.copyright{
    width:100%;
    // border: 1px solid white;
   
    position: absolute;
    bottom: 0%;
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .p{
        font-family: $code-font-style;
        // text-align: center;
    }
}
}