@import '../Base/typography.module';
@import '../Base/mixins.module';

.sections{
  padding: 0 8%;

.hero{
  // position: relative;
  // z-index: -1;
  width: 100%;
  padding: 10%;
 
  &__sup{
    @include subHeading;
    margin: 1em 0;
  }
  &__heading1{
    @include heading1;

  }
  &__heading2{
    @include heading2;
  }
  &__sub{
    width:65%;
    @include para;
    margin: 2em 0;

    @include respond(phone){
      width:90%;
    }
    @media(max-width:400px){
      width:100%;
      
    }

  }
  .btn{
    @include button;
    padding: 1.6em;
    margin: 1em 0;
    white-space: nowrap;
    &:hover, :active , :focus{
      background-color:rgba($color-secondary,.1);
    }
    @media(max-width:400px){
      width:100%;
      padding: 1em;
    margin: 0;
    }
  }
}

 @media(max-width: 700px){
  position: relative;
  top:-10%;
 }
}