@import '../Base/variable.module';
@import '../Base/mixins.module';

.home{
    display: flex;
    padding: 2em;
    .homeleft{
        padding: 10% 5%;
        width: 50%;
        &__heading{
            @include heading;
            span{
                white-space: nowrap;
            }
        }
        &__subheading{
            @include para;
        }
        
        &__button{
            @include button;
        }
    }

    @include respond (tab-land){
        display: flex;
        flex-direction: column;
        .homeleft{
            width: 100%;
            padding: 0% 5%;

        }
    }
}



// it works

.itWork{
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        @include largeheading;
    }
}

// Work

.card{
   padding: 6%;
}