@import '../Base/variable.module';
@import '../Base/mixins.module';

.sidebar1{
  width:2%;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

  position:fixed;
  bottom: 0%;

   .icon{
    margin:.5em;
    &:hover{
      scale:1.1;
      fill:$color-secondary;
    }
     
   }
   .vertical{
    
    border-left: .1rem solid $color-neutral;
    height: 10vh;
  }
}

.sidebar2{
  width:2%;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

  position:fixed;
  bottom: 0%;
  right:4%;

  .email{
    //  border: 1px solid white;
    @include para;
    font-family: $code-font-style;
    rotate:90deg ;
    margin-bottom: 14vh;
  }
  .vertical{
    
    border-left: .1rem solid $color-neutral;
    height: 10vh;
  }
}


