@import './mixins.module.scss';
@import './variable.module.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 60%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 85%; //1rem = 12, 12/16
    }
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // padding: 3rem 6rem;

    background-color: #0d1014;
    // background-color: $color-primary;
   


    //typography
    font-family: $default-font-style;
    color: $color-neutral;
    font-size: $default-font-size;
    line-height: 1.7;

    &::-webkit-scrollbar{
        width:.25rem;
    }

    &::-webkit-scrollbar-track{
        background: $color-primary;
    }

    &::-webkit-scrollbar-thumb{
        background: $color-secondary;
    }

    @include respond(tab-land){
        padding: 0;
    }

    @include respond(phone){
        margin: 0;
    padding: 0;
    }
    
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}