@import './variable.module';

//absolute center
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Typography

%primaryHeading {
    font-size: clamp(4rem , 8vw , 8rem);
    font-weight: 600;
    line-height: clamp(4.4rem , 8.8vw , 8.8rem);
}

@mixin heading1{
    @extend %primaryHeading;
    color:$color-neutral-light;
}

@mixin heading2{
    @extend %primaryHeading;
    color:$color-neutral;
}

@mixin subHeading{
    font-family: $code-font-style;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 1.76rem;
    letter-spacing: .16rem;
    color:$color-secondary-light;
}

@mixin codestyle{
    font-family: $code-font-style;
    font-size: 1.3rem;
    font-weight: 100;
    // line-height: 1.76rem;
    // letter-spacing: .16rem;
    
}

@mixin para{
    font-family: $default-font-style;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.4rem;
    letter-spacing: .05rem;
    color: $color-neutral;
}

@mixin button{
    padding: .8em;
    border: 2px solid $color-secondary-light;
    border-radius: .4rem;
    font-size: 1.8rem;
    font-style: $code-font-style;
    color: $color-secondary-light;
    letter-spacing: .16rem;
    background-color: transparent;
    text-decoration: none;
    font-weight:light;
    cursor: pointer;
}




// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

