
// color 
$color-primary:#B97FE6;
$color-primary-light:#D1AAEE;
// $color-primary-dark:


$color-secondary:#391952;
// $color-secondary-light:
// $color-secondary-dark:

$color-tertiary:#F8F2FC;


$color-white:#fff;