
// COLORS
$color-primary: #091930;
$color-primary-light: #0C2240;
$color-primary-dark: #051730;

$color-secondary: #5EBBAF;
$color-secondary-light: #7cf1e2;

// $color-neutral-light: #8893AF;
// $color-neutral-dark: #C2CCE7;

$color-neutral: #8892B0;
$color-neutral-light: #CCD6F6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.3rem;
$default-font-style:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$code-font-style: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;