@import "../Base/variable.module";
@import "../Base/mixins.module";

.githubpage {
  min-height: 100vh;
  width: 100%;
  padding: 5% 15%;

  @media (max-width: 1200px) {
    padding: 5% 10%;
  }
  @media (max-width: 900px) {
    padding: 5% 15%;
  }
}

.headingGithub {
  @include heading1;
  font-size: 3.5rem;

  width: 100%;
  text-align: center;
  @media (max-width: 900px) {
    font-size: 2.5rem;
    line-height: 1;
  }

  &__sub {
    @include codestyle;
    color: $color-secondary-light;
    margin-top: -1rem;
    text-align: center;
    @media (max-width: 900px) {
      margin-top: 0;
    }
  }
}

.containerGithub {
  margin-top: 2%;
  min-height: 80vh;
  // border: 1px solid green;
  display: grid;

  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, minmax(min-content, 1fr));

  gap: 1.2rem;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: repeat(5, minmax(min-content, 1fr));

    gap: 1.2rem;
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
    grid-template-rows: repeat(9, minmax(26vh, 1fr));

    gap: 1.2rem;
  }

  .box {
    position: relative;
    background-color: $color-primary-light;

    // height: 16vw;
    // width: 19vw;
    border-radius: 0.6rem;
    cursor: pointer;
    object-fit: contain;

    padding: 2em;

    .upperside {
      // border : 1px solid white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__icons {
        .link {
          margin: 0.2em;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }

    &:hover {
      scale: 1.01;
    }
  }
}

.containerGithub {
  margin: 1em 0;
  &__tittle {
    text-decoration: none;
    font-size: 2.3rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: $color-neutral-light;

    &:hover {
      color: $color-secondary-light;
    }
  }
  &__des {
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: 300;
    margin: 0.5em 0;
  }
  &__techstack {
    @include codestyle;
    // margin:  1rem 0;
    color: $color-neutral-dark;
    position: absolute;
    bottom: 8%;
    .tech {
      margin: 1rem 0;
      padding: 0.5em;
      line-height: 1.9rem;
      &:hover {
        font-size: 1.4rem;
        box-shadow: 0 0 1rem rgba($color-primary, 1);
      }
    }
  }
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  margin: 0 auto;
  margin-top: 2em;

  @include button;
}
