$bar-width: 6rem;
$bar-height: 0.8rem;
$hamburger-gap: 0.6rem;
$hamburger-margin: 4rem;
$hamburger-height: calc(($bar-height) * 3 + ($hamburger-gap * 2));

$foreground: #333;
$background: white;

$animation-timing: 200ms ease-in-out;
$x-width: calc($hamburger-height * 1.41421356237);

.navbar {
  // float: right;
  

  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    gap: $hamburger-gap;
    // background-color: red;
    width: max-content;

    // position: relative;
    position: absolute;
    top: $hamburger-margin;
    right: 2rem;
    z-index: 1;
    cursor: pointer;

    &::before,
    &::after,
    & .input {
      content: "";
      width: $bar-width;
      height: $bar-height;
      background-color: $foreground;
      border-radius: 999rem;

      transform-origin: left center;
      transition: opacity $animation-timing, width $animation-timing,
        rotate $animation-timing, translate $animation-timing,
        background-color $animation-timing;
    }

    & .input {
      appearance: none;
      padding: 0;
      margin: 0;
      outline: none;
      pointer-events: none;
    }

    &:has(.input:checked)::before {
      rotate: 45deg;
      width: $x-width;
      translate: 0 calc($bar-height / -2);
    }

    &:has(.input:checked)::after {
      rotate: -45deg;
      width: $x-width;
      translate: 0 calc($bar-height / 2);
    }

    & .input:checked {
      // background-color: red;
      opacity: 0;
      width: 0;
    }

    &:has(.input::checked){

      
      $foreground: white;
      $background: #333;
    }
  }

  .sidebar{
    transition: translate $animation-timing;
    translate: -200%;
    position: absolute;
    top: 0;
    right: 0;

    padding: 1rem 2rem;
    padding-top: calc($hamburger-height + $hamburger-margin + 1rem);
    background-color: $foreground;
    color: $background;
    width: 55vw;
    min-height: 100vh;
  }

  .hamburgerMenu:has(.input:checked) + .sidebar{
    translate: 0;
  }
}
