@import "../Base/variable.module";
@import "../Base/mixins.module";

.nav {
  font-family: $default-font-style;
  font-size: $default-font-size;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  &__logo {
  }
  &__tab {
    .link {
      padding: 0em 1em;
      text-decoration: none;

      color: $color-neutral;
      font-weight: light;

      &:hover {
        color: $color-secondary-light;
      }
    }

    .span {
      margin-right: 0.5rem;
      font-family: $code-font-style !important;
      color: $color-secondary-light;
    }

    .btn {
      @include button;

      &:hover,
      :active,
      :focus {
        background-color: rgba($color-secondary, 0.1);
      }
    }
  }
}

.sidebar1 {
  width: 2%;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

  position: fixed;
  bottom: 0%;

  .icon {
    margin: 0.5em;
    &:hover {
      scale: 1.1;
      fill: $color-secondary;
    }
  }
  .vertical {
    border-left: 0.1rem solid $color-neutral;
    height: 10vh;
  }
}

.sidebar2 {
  width: 2%;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

  position: fixed;
  bottom: 0%;
  right: 4%;

  .email {
    //  border: 1px solid white;
    @include para;
    font-family: $code-font-style;
    rotate: 90deg;
    margin-bottom: 14vh;
  }
  .vertical {
    border-left: 0.1rem solid $color-neutral;
    height: 10vh;
  }
}

@media (max-width: 768px) {

  // navbar
  .nav {
    position: relative;
   
    &__logo {
    }
    &__tab {
      width: 50%;
      height: 100vh ;
    position: absolute;
    right:0%;
    top:0%;
    
    z-index: 999;
    background-color: $color-primary-light;

    padding: 20vh 5vh;
      display: flex;
    flex-direction: column;
      .link {
        border: 1px solid red;
        padding: 2rem;
        font-size: 2rem;
        text-decoration: none;
  
        color: $color-neutral;
        font-weight: light;
  
        &:hover {
          color: $color-secondary-light;
        }
      }
  
      .span {
        margin-right: 0rem;
        // margin:2rem;
        font-family: $code-font-style !important;
        color: $color-secondary-light;
      }
  
      .btn {
        @include button;
        font-size: 3rem;
        margin: 2rem;
        &:hover,
        :active,
        :focus {
          background-color: rgba($color-secondary, 0.1);
        }
      }
    }
  }
  



  // side bars
  .sidebar1 {
    width: 100%;
    display: flex;
    flex-direction: row;

    .icon {
      margin: 1em;
    }

    .vertical {
      display: none;
    }
  }

  .sidebar2 {
    display: none;
  }
}
