
@import './Pages/hero.module.scss';

@import './Base/animation.module.scss';
@import './Base/base.module.scss';
@import './Base/mixins.module.scss';
@import './Base/typography.module.scss';
@import './Base/variable.module.scss';


$bar-width: 60px;
$bar-height: 8px;
$hamburger-gap: 6px;
$foreground: #333;
$background: white;
$hamburger-margin: 8px;
$animation-timing: 200ms ease-in-out;
$hamburger-height: calc(#{$bar-height} * 3 + #{$hamburger-gap} * 2);
